<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-center" id="profile" >
            <img src="../../../assets/foto cv.png" class="img-fluid" id="profileImg">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-center" id="name-title">
            <p id="fullname">Carlos Fernando Maciel</p>
            <p id="title">FullStack Dev Jr</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="about">
            <h2 class="text-center">Acerca de mí</h2>
            <h4>
    Estudiante avanzado de Ingeniería y entusiasta de la tecnología y la programación en 
    busca de mi primer empleo en el mundo IT, donde pueda aplicar los conocimientos 
    adquiridos así como también tener la oportunidad de crecer en el ámbito 
    profesional, personal e intelectual
            </h4>
        </div>
    
    </div>
</div>