<div class="container">
<div class="text-center">
  <p>SKILLS</p>
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-success" (click)="onOpenModal('add')">
      <a class="nav-link" style="color: #fff"
        >Agregar Skill </a
      >
    </button>
  </div>
  <div
  class="card"
  id="main-container"
>
  <div class="row skill">
    <div
      *ngFor="let skill of skills"
      class="text-center col-xs-8 col-sm-8 col-md-6 col-lg-3">
      <div class="skillcircle">
        <a
          (click)="onOpenModal('edit', skill)"
          class="btn btn-primary tooltips"
          data-placement="top"
          data-bs-toggle="modal"
          data-original-title="Edit"
          ><em class="bi bi-pencil-square"></em>
        </a>
        <a
          (click)="onOpenModal('delete', skill)"
          class="btn btn-danger tooltips"
          data-placement="top"
          data-bs-toggle="modal"
          data-original-title="Delete"
          ><em class="bi bi-x-lg"></em></a>
      </div>
      <div class="card-body titles">
        <div class="card-title">
          {{ skill.name }}
          <circle-progress
            [percent]="skill.percentage"
            [radius]="60"
            [showUnits]="false"
            [showImage]="true"
            [backgroundColor]="'transparent'"
            [imageHeight]="70"
            [imageWidth]="70"
            [showSubtitle]="true"
            [titleFontSize]="'25px'"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="2"
            [title]="'{{skill.name}}'"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animationDuration]="1500"
          ></circle-progress>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Add Skill Modal -->
<div
  class="modal fade"
  id="addSkillModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addSkillModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addSkillModalLabel">Agregar Skill</h5>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddSkill(addForm)">
          <div class="form-group">
            <label for="name">Skill</label>
            <input
              type="text"
              ngModel
              name="name"
              class="form-control"
              id="name"
              placeholder="Skill"
              required
            />
          </div>
          <div class="form-group">
            <label for="percentage">Porcentaje</label>
            <input
              type="number"
              min="0"
              max="100"
              step="5"
              ngModel
              name="percentage"
              class="form-control"
              id="percentage"
              placeholder="porcentaje"
              required
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              id="add-skill-form"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
            <button
              [disabled]="addForm.invalid"
              type="submit"
              class="btn btn-primary"
            >
              Guardar Cambios
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit skill modal -->
<div
  class="modal fade"
  id="editSkillModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="skillEditModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateSkillModalLabel">
          Editar Skill {{ editSkill?.name }}
        </h5>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="name">Skill</label>
            <input
              type="text"
              ngModel="{{ editSkill?.name }}"
              name="name"
              class="form-control"
              id="name1"
              aria-describedby="emailHelp"
              placeholder="Skill"
            />
          </div>
          <input
            type="hidden"
            ngModel="{{ editSkill?.id }}"
            name="id"
            class="form-control"
            id="id1"
            placeholder=""
          />

          <div class="form-group">
            <label for="percentage">Porcentaje</label>
            <input
              type="number"
              min="0"
              max="100"
              step="5"
              ngModel="{{ editSkill?.percentage }}"
              name="percentage"
              class="form-control"
              id="percentage1"
              placeholder="Porcentaje"
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              id="3"
              data-bs-dismiss="modal"
              class="btn btn-secondary"
            >
              Cerrar
            </button>
            <button
              (click)="onUpdateSkill(editForm.value)"
              data-bs-dismiss="modal"
              class="btn btn-primary"
            >
              Guardar Cambios
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete skill modal -->
<div
  class="modal fade"
  id="deleteSkillModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteModelLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Borrar Skill</h5>
      </div>
      <div class="modal-body">
        <p style="color: rgb(255, 255, 255)">
          Está seguro que desea borrar
          {{ deleteSkill?.name }}?
        </p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            No
          </button>
          <button
            (click)="onDeleteSkill(deleteSkill!.id)"
            class="btn btn-danger"
            data-bs-dismiss="modal"
          >
            Si
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
