<div class="container">
    <p class="mb-0 pt-1">EXPERIENCIA</p>
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-center" id="jobImg">
            <img src="../../../assets/APLogo-20.png" class="img-fluid" alt="logo empresa">
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <p class="fs-5 fw-semibold">Puesto</p>
            <p class="fs-6">Lugar de trabajo</p>
            <p class="fs-6">Desde Hasta</p>
            <p class="fs-6">Descripción</p>
        </div>
    </div>
</div>
